<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ticket(NSOperation).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02ED56B81E6802BF00D7CAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02ED56D11E6802C000D7CAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02ED56DC1E6802C000D7CAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
